.collaborator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    border: 1px solid #d1d5da;
    border-radius: 4px;
    margin: 5px 10px 0px 0px;
    padding: 10px;
}

.collabDetail {
    margin-left: 10px;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.collabRank {
    align-self: flex-start;
    margin-top: 10px;
}

.collabId {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 12pt;
}

.collabContrib {
    font-size: 10pt;
}
