.mainView {
    flex: 1;
    padding: 10px 8px;
}

.mainProjectTitle {
    font-size: 25pt;
    font-weight: bold;
}

.countWidgets {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 25px;
}

.collabTitle {
    background: #f3f5f8;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
}

.collabCards{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.projectDescr {
    margin: 10px 0px;
}

.collaborators {
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.collaborators>img {
    flex: 1;
}

.collabStatusIcon {
    width: 32px;
    height: 32px;
}
